= simple_form_for(@cliente) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :data_nascimento, label: 'Data Nascimento', as: :string
    = f.input :cpf , label: 'CPF'
    = f.input :email
    = f.input :senha

  .form-actions
    = f.button :submit, 'Salvar'
