%h1 Listing clientes

.panel.panel-default
  .panel-body
    %table.table.table-striped.table-hover
      %tr
        %th Nome
        %th Data Nascimento
        %th CPF
        %th Email
        %th Senha
        %th{:colspan => 3} Ações

      - @clientes.each do |cliente|
        %tr
          %td= cliente.nome
          %td= cliente.data_nascimento
          %td= cliente.cpf
          %td= cliente.email
          %td= cliente.senha
          %td
            = link_to 'Show', cliente , class: 'btn btn-success'
            = link_to 'Edit', edit_cliente_path(cliente), class: 'btn btn-primary'
            = link_to 'Excluir', cliente, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

    %br

= link_to 'New Cliente', new_cliente_path, class: 'btn btn-success'
