%p#notice= notice
%h1 Cliente cadastrado

.panel.panel-primary
  .panel-body
    %table.table.table-hover
      %tr
        %th Nome:
        %td
          = @cliente.nome
      %tr
        %th Data Nascimento:
        %td
          = @cliente.data_nascimento
      %tr
        %th CPF:
        %td
          = @cliente.cpf
      %tr
        %th Email:
        %td
          = @cliente.email
      %tr
        %th Senha:
        %td
          = @cliente.senha

= link_to 'Edit', edit_cliente_path(@cliente), class: 'btn btn-info'
\|
= link_to 'Back', clientes_path , class: 'btn btn-default'
