.panel.panel-red
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-map-marker.fa-5x
      .col-xs-9.text-right
        %h1 Listing ambientes
  .panel-body
    %table.table.table-hover
      %tr
        %th Nome
        %th Capacidade
        %th Endereco
        %th Complemento
        %th Numero
        %th Bairro
        %th Cidade
        %th Estado
        %th Cep
        %th{:colspan => 3} Ações

      - @ambientes.each do |ambiente|
        %tr
          %td= ambiente.nome
          %td= ambiente.capacidade
          %td= ambiente.endereco
          %td= ambiente.complemento
          %td= ambiente.numero
          %td= ambiente.bairro
          %td= ambiente.cidade
          %td= ambiente.estado
          %td= ambiente.cep
          %td
            = link_to 'Show', ambiente, class: 'btn btn-success'
            = link_to 'Edit', edit_ambiente_path(ambiente), class: 'btn btn-primary'
            = link_to 'Excluir', ambiente, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

    %br

    = link_to 'New Ambiente', new_ambiente_path, class: 'btn btn-success'
