%p#notice= notice
%h1 Ambiente cadastrado

.panel.panel-primary
  .panel-body
    %table.table.table-hover
      %tr
        %th Nome:
        %td
          = @ambiente.nome
      %tr
        %th Capacidade:
        %td
          = @ambiente.capacidade
      %tr
        %th Endereço:
        %td
          = @ambiente.endereco
      %tr
        %th Complemento:
        %td
          = @ambiente.complemento
      %tr
        %th Número:
        %td
          = @ambiente.numero
      %tr
        %th Bairro:
        %td
          = @ambiente.bairro
      %tr
        %th Cidade:
        %td
          = @ambiente.cidade
      %tr
        %th Estado:
        %td
          = @ambiente.estado
      %tr
        %th CEP:
        %td
          = @ambiente.cep

= link_to 'Edit', edit_ambiente_path(@ambiente), class: 'btn btn-info'
\|
= link_to 'Back', ambientes_path, class: 'btn btn-default'
