= simple_form_for(@loteingresso) do |f|
  = f.error_notification

  .form-inputs
    = f.input :numero_lote, label: "Número Lote"
    = f.input :preco,  label: "Preço"
    = f.input :quantidade
    = f.association :evento,  label_method: :nome

  .form-actions
    = f.button :submit, 'Salvar'
