%p#notice= notice
%h1 Lote Ingresso cadastrado

.panel.panel-primary
  .panel-body
    %table.table.table-hover
      %tr
        %th Número Lote:
        %td
          = @loteingresso.numero_lote
      %tr
        %th Preço:
        %td
          = @loteingresso.preco
      %tr
        %th Quantidade:
        %td
          = @loteingresso.quantidade
      %tr
        %th Evento:
        %td
          = @loteingresso.evento.nome

= link_to 'Edit', edit_loteingresso_path(@loteingresso), class: 'btn btn-info'
\|
= link_to 'Back', loteingressos_path, class: 'btn btn-default'
