%p#notice= notice
%h1 Evento cadastrado

.panel.panel-primary
  .panel-body
    %table.table.table-hover
      %tr
        %th Nome:
        %td
          = @evento.nome
      %tr
        %th Categoria:
        %td
          = @evento.categoria
      %tr
        %th Data:
        %td
          = @evento.data
      %tr
        %th Hora:
        %td
          = @evento.hora.strftime("%H:%M")
      %tr
        %th Empresa:
        %td
          = @evento.empresa.nome
      %tr
        %th Ambiente:
        %td
          = @evento.ambiente.nome
      %tr
        %th Descrição:
        %td
          = @evento.descricao

= link_to 'Edit', edit_evento_path(@evento), class: 'btn btn-info'
\|
= link_to 'Back', eventos_path, class: 'btn btn-default'
