%h1 Listing ingressos

.panel.panel-default
  .panel-body
    %table.table.table-striped.table-hover
      %tr
        %th Cadeira numerada
        %th Area
        %th Cliente
        %th Loteingresso
        %th{:colspan => 3} Ações

      - @ingressos.each do |ingresso|
        %tr
          %td= ingresso.cadeira_numerada
          %td= ingresso.area
          %td= ingresso.cliente.nome
          %td= ingresso.loteingresso.numero_lote
          %td
            = link_to 'Show', ingresso,  class: 'btn btn-success'
            = link_to 'Edit', edit_ingresso_path(ingresso), class: 'btn btn-primary'
            = link_to 'Excluir', ingresso, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Ingresso', new_ingresso_path, class: 'btn btn-success'

