%p#notice= notice
%h1 Ingresso cadastrado

.panel.panel-primary
  .panel-body
    %table.table.table-hover
      %tr
        %th Cadeira Númerada:
        %td
          = @ingresso.cadeira_numerada
      %tr
        %th Área:
        %td
          = @ingresso.area
      %tr
        %th Cliente:
        %td
          = @ingresso.cliente.nome
      %tr
        %th Lote Ingresso:
        %td
          = @ingresso.loteingresso.numero_lote

= link_to 'Edit', edit_ingresso_path(@ingresso), class: 'btn btn-info'
\|
= link_to 'Back', ingressos_path, class: 'btn btn-default'
