%p#notice= notice
%h1 Cliente empresa

.panel.panel-default
  .panel-body
    %table.table.table-striped.table-hover
      %tr
        %th CNPJ:
        %td
          = @empresa.cnpj
      %tr
        %th Nome:
        %td
          = @empresa.nome
      %tr
        %th Endereço:
        %td
          = @empresa.endereco
      %tr
        %th Complemento:
        %td
          = @empresa.complemento
      %tr
        %th Número:
        %td
          = @empresa.numero
      %tr
        %th Bairro:
        %td
          = @empresa.bairro
      %tr
        %th Cidade:
        %td
          = @empresa.cidade
      %tr
        %th Estado:
        %td
          = @empresa.estado
      %tr
        %th CEP:
        %td
          = @empresa.cep

= link_to 'Edit', edit_empresa_path(@empresa), class: 'btn btn-info'
\|
= link_to 'Back', empresas_path, class: 'btn btn-default'
