%p#notice= notice
.panel.panel-yellow
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-tasks.fa-5x
      .col-xs-9.text-right
        %h1 Empresa cadastrado
  .panel-body
    %table.table.table-hover
      %tr
        %th CNPJ:
        %td
          = @empresa.cnpj
      %tr
        %th Nome:
        %td
          = @empresa.nome
      %tr
        %th Endereço:
        %td
          = @empresa.endereco
      %tr
        %th Complemento:
        %td
          = @empresa.complemento
      %tr
        %th Número:
        %td
          = @empresa.numero
      %tr
        %th Bairro:
        %td
          = @empresa.bairro
      %tr
        %th Cidade:
        %td
          = @empresa.cidade
      %tr
        %th Estado:
        %td
          = @empresa.estado
      %tr
        %th CEP:
        %td
          = @empresa.cep

    = link_to 'Edit', edit_empresa_path(@empresa), class: 'btn btn-info'
    \|
    = link_to 'Back', empresas_path, class: 'btn btn-default'
